<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2" verbose="10">
    <test preserve-order="true" name="Set1">
        <parameter name="udid" value="RZ8NA0Z723M"></parameter>
        <parameter name="url" value="https://dev-in-blr-0.headspin.io:3012/v0/b048fc345f604fe9ad9c3fa2e9234b6f/wd/hub"></parameter>
        <classes>
            <class name="io.headspin.utils.ConfigTest"></class>
            <class name="io.headspin.Tests.YoutubeTest">
                 <methods>
                     <include name="Test1"/>
                  </methods>
            </class>
        </classes>
    </test>

<!--    <test preserve-order="true" name="Set2">-->
<!--        <parameter name="udid" value="RZ8NA0Z723M"></parameter>-->
<!--        <parameter name="url" value="https://dev-in-blr-0.headspin.io:3012/v0/b048fc345f604fe9ad9c3fa2e9234b6f/wd/hub"></parameter>-->
<!--        <classes>-->
<!--            <class name="io.headspin.utils.ConfigTest"></class>-->
<!--            <class name="io.headspin.Tests.YoutubeTest">-->
<!--                <methods>-->
<!--                    <include name="Test1"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>